/* src/styles/Profile.module.css */
.container {
    display: flex;
}

.mainContent {
    margin-left: 220px;
    /* Adjust based on sidebar width */
    padding: 20px;
    width: 100%;
}

.header {
    margin-bottom: 20px;
}

.profileDetails {
    display: flex;
    align-items: center;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    margin: 0;
    font-size: 24px;
}

.info p {
    margin: 5px 0;
}